/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);

  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208); */

  --ifm-color-primary: #0072a3;

  --ifm-color-primary-dark: #0072a3;
  --ifm-color-primary-darker: #0072a3;
  --ifm-color-primary-darkest: #0072a3;

  --ifm-color-primary-light: #0072a3;
  --ifm-color-primary-lighter: #0072a3;
  --ifm-color-primary-lightest: #0072a3;

  /* Added */
  --ifm-code-font-size: 95%;
  --ifm-code-border-radius: 3px;
  --ifm-code-background: rgba(27, 31, 35, 0.05);
  --ifm-link-color: 0072a3;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 15px;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

a.contents__link > code {
  color: inherit;
}

a.contents__link.contents__link--active {
  font-weight: 600;
}

a:visited {
  color: var(--ifm-color-primary);
}

.pagination-nav .pagination-nav__link {
  transition: all 0.2s ease;
  border-color: var(--ifm-color-primary);
}
.pagination-nav__link .pagination-nav__link--label {
  color: var(--ifm-color-primary);
}
.pagination-nav__link:hover {
  background: var(--ifm-color-primary);
  color: white;
}

.pagination-nav__link:hover * {
  color: white;
}
